<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Key info</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"/>
    <link rel="stylesheet" href="/css/style.css" >
</head>
<body>
    <main class="container">
        <!-- Navbar which can be reused across other pages -->
        <%- include('../partials/navbar'); %>

        <!-- Information about the about page -->
        <div class="welcome-container">
            <h1>key information</h1>
            <p>for goldfish memories</p>
        </div>

        <div class="about-container">
            <p><strong>Name:</strong> <%= personInfo.name %></p>
            <p><strong>Address:</strong> <%= personInfo.address %></p>
            <p><strong>Phone number:</strong> <%= personInfo.phoneNumber %></p>
            <p><strong>BloodType:</strong> <%= personInfo.bloodType %></p>
            <p><strong>Allergies:</strong> <%= personInfo.allergies %></p>
            <br>
            <img src="/images/goldfish.jpg" alt="Picture of a goldfish" width="600">
            
            <!-- <p><a href="/">back to the frontpage!</a></p> -->
        </div>

    </main>
</body>
</html>