<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"/>
    <link rel="stylesheet" href="/css/style.css" >
</head>
<body>
    <main class="container">
        <!-- Navbar which can be reused across other pages -->
        <%- include('../partials/navbar'); %>

        <!-- Information welcoming visitors to my page -->
        <div class="welcome-container">
            <h1>how's it going today?</h1>
        </div>

        <div class="new-post-btn-container">
           <a href="/new" class="button" role="button">today's update</a>
        </div>
        
        <!-- Filter posts by doctor type -->
        <form action="/" method="get" class="filter-form">
            <label for="doctortype">Filter by Doctor Type:</label>
            <select name="doctortype" id="doctortype">
                <option value="">All</option>
                <option value="Cardiologist">Cardiologist</option>
                <option value="Dermatologist">Dermatologist</option>
                <option value="Pediatrician">Pediatrician</option>
                <!-- Add other doctor types as needed -->
            </select>
            <button type="submit" class="button primary">Filter</button>
        </form>

        <!-- Show blog posts -->
        <% blogs.forEach(post => { %>
            <article class="post-container">
                <h3><%= post.apptdate%></h3>
                <p><%= post.doctortype%></p>
                <p><%= post.update%></p>
                <p><%= post.followup%></p>
                <p><%= post.nextappt%></p>
                <form action="/delete/<%= post.id %>" method="post" onsubmit="return confirm('Do you really want to delete this post?');">
                    <button class="outline primary" type="submit">Delete</button>
                </form>
            </article>
        <% }); %>

        <p>Disclaimer: This website is created for learning purposes only. The information provided here should not be considered professional advice. Please note that we make no guarantees regarding the accuracy, completeness, or reliability of the contents of this website. Any actions you take based on the contents of this website are at your own risk. We are not liable for any losses or damages incurred from the use of this website.</p>
    </main>
</body>
</html>